h1 {
	color: pink;
	text-align: center;
	text-decoration: underline;

}
p1 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
h2 {
	text-align: center;
	padding-left: 20px;
}
p1 {
	color: purple;
	font-family:cursive;
	font-size: 12px;
	text-align: center;
}
p2 {
	color: green;
	font-family: fantasy;
	text-align: center;
}
p3 {text-align: center;
}
h4 {
	text-align: center;
}
p4 {
	text-align: center;
}
ul {
	color: darkblue;
	font-family: monospace;
	font-size: 14px;
}
body {
	background-image: url("images/puppy.jpg");
	background-size: cover
	padding: 10px;
}
img {
	max-width: 400px;
	max-height: 600px;
}
