body {
	font-family: times;
	color: #008080;
}

header.imaris {
	border-radius: 15px;
	border: 9px #660066;
	border-style: groove;
	text-align: center;
}
#main_header {
	text-align: center;
	font-size: 50px;
	background-image: url('assets/header_background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px;
}
#nice_background {
	background-image: url('assets/background_image.jpg');
}

.mainpage {
	text-align: center;
	font-size: 15px;
}
.btn-LinkedIn {
	background-color: #4868ac;
	border-color: #314776;
}
#features li {
	list-style-type: none;
}
#women {
	text-align: center;
}
#women img{
	max-height: 150px;
	max-width: 200px;
	width: 120px;
	height: 120px;
}
#swarali_page {
	background-image:url('assets/Background_Swarali.png');
	background-color:
}

li.horizontal {
	display: inline;
padding: 100px 250px 250px 0px;
}

h1.about_me_titles {
	font-size: 28px;
	color: purple;
}
p#main_p {
	text-align: center;
	font-size: 15px;
}
