/* Ensures uniformity in fonts across all pages */
body {
	font-family: times;
	color: white;
}

/* Makes all images circular. */
header.img-circle {
	border-right: 10px;
	width:200px;
	height:200px;
}
div#image_header {
background-image: url('assets/header_background.jpeg');
background-repeat: no-repeat;
background-size: cover;
padding: 200px;
border: 0px;
text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.5);
}
/* Refines main (city) image to look better. */
#main_header {
	text-align: center;
	font-size: 70px;
	letter-spacing: -0.01em;
	margin-top: -50px;
	letter-spacing: -0.05em;

}
/* Makes the font under our team name smaller*/
#p_header {
	text-align: center;
	padding-left: 50px;
	font-size: 25px;
	letter-spacing: -0.05em;
	text-indent: 200px;
	margin-top: -25px;
}

#gloria {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Adds the delicate blue background to the front page. */
div#nice_background {
	background-image: url('assets/background_image.jpg');
	background-size: cover;
}

div.mainpage {
	text-align: center;
	font-size: 15px;
}
div.btn-LinkedIn {
	background-color: #4868ac;
	border-color: #314776;
}
#features li {
	list-style-type: none;
}

#women img{
	max-height: 150px;
	max-width: 200px;
	width: 120px;
	height: 120px;
}
/* all "#name_page" IDs Keep background images for each of our pages similar, and protects from individual changes - lovely background, thanks Gloria! */
#swarali_page {
	background-image:url(assets/background_for_pages.jpg);
}
#gloria_page {
	background-image:url(assets/background_for_pages.jpg);
	background-color:
}


h1.about_me_titles {
	font-size: 28px;
	color: #87CEEB;
}
p#main_p {
	text-align: center;
	font-size: 15px;
	color: #87CEEB;
}
